:root{
    --primary:#4F46E5;
    --primary-dark:#3730A3;
    --secondary:#06B6D4;

    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;

    --background:#F5F7FB;
    --white:#ffffff;

    --text:#1F2937;
    --text-light:#6B7280;

    --border:#E5E7EB;

    --radius:16px;
    --shadow:0 8px 24px rgba(0,0,0,.08);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--background);
    color:var(--text);
}

.card{
    border:none !important;
    border-radius:var(--radius) !important;
    box-shadow:var(--shadow) !important;
    transition:.3s;
}

.card:hover{
    transform:translateY(-4px);
}

.btn-primary{
    background:var(--primary)!important;
    border:none!important;
}

.btn-primary:hover{
    background:var(--primary-dark)!important;
}